<% provide(:title, "トレーニング一覧") %>
<h2>トレーニング一覧</h2>
<div>
  <% @trainings.each do |training| %>
    <div>
      <%= link_to "#{training.title}", training_path(training) %>
      <%= link_to "問題を作成する", new_training_question_path(training) %>
    </div>
  <% end %>
</div>