<% provide(:title, "トレーニング一覧") %>
<h2 class="trainings__title">トレーニング一覧</h2>
<div class="trainings__list">
  <% @trainings.each do |training| %>
    <div class="trainings__list-item">
      <%= link_to "#{training.title}", training_path(training) %>
    </div>
  <% end %>
</div>