<% provide(:title, "個別トレーニングページ") %>
<h2 class="trainings__title"><%= @training.title %></h2>
<%= link_to "このトレーニング情報を編集する", edit_training_path(@training), class: 'link-btn' %>
<%= link_to "このトレーニングのチャプターを作成する", new_training_chapter_path(@training), class: 'link-btn' %>
<div>
  <% @training.chapters.each do |c| %>
    <%= link_to c.chapter_title, training_chapter_path(c) %>
  <% end %>
</div>