<% provide(:title, "個別トレーニングページ") %>
<h3><%= @training.title %></h3>
<% iframe = content_tag(
    :iframe,
    '', # empty body
    width: 560,
    height: 315,
    src: "#{@training.url}",
    frameborder: 0,
    allowfullscreen: true
) %>
<%= content_tag(:div, iframe, class: 'youtube-container') %>
<div>
  <% @training.questions.each do |q| %>
    <p>問題 ▶︎ <%= q.content %></p>
    <ul>
      <% q.choices.each do |c| %>
        <li><%= c.content %></li>
      <% end %>
    </ul>
  <% end %>
</div>